.container.changes-index
  %h1 Pending Changes
  %h3
    %ul.unstyled
      %li 
        %a{href: '/static/1'} Los Angeles wants to modify their education requirement
      %li 
        %a{href: '/static/1'} Los Angeles wants to modify their education requirement
      %li 
        %a{href: '/static/1'} Los Angeles wants to modify their education requirement
      %li 
        %a{href: '/static/1'} Los Angeles wants to modify their education requirement
